body{
    margin:5px,5px,5px,5px;
    padding: 0%;
    background-color:rgb(224, 222, 255);
}
 .Top{
     font size: 200px;
   text-align: center;

    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.top2 {
text-align: center;
    font-weight: 800px;

    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top3{
    padding-bottom: 45px;
    padding-left: 20px;
    text-align: center;
    text-shadow: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'

    
}
.img1{
   
clip-path: circle();
width: 200px;
height: 200px;

}
.name{
    padding-left: 35px;

}
.name1{
    padding-left: 70px;
}
.description{
    padding: 5px;
    width: 50%;
    height: 40%;
    text-align: justify;


}


.img2{
    align-items:;
    clip-path: circle();
    height: 200px;
    height: 200px;
    align-items: overflow;
    border:solid black ;
    
}
.cointainer{
    max-width: 1200px ;
    overflow: auto;
    margin: auto;
  
}
.gallary{
width: 33.33%;
    margin: 7px;
   float:left;
}
